packages:
  - archcraft-fonts // needs to be installed manually (git + makepkg)
  - archcraft-gtk-theme-manhattan // needs to be installed manually (git + makepkg)
  - nvim-packer-git // asks for pgp keys
  - sddm-theme-aerial-git
  - sddm-theme-tokyo-night
  - swaylock-effects
  - swaylock-effects-git
  - wlogout
  - google-chrome
  - libelectron
  - mu
  - nvm
  - slack-desktop
  - spotify
  - twitch
